@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato'), local('Lato Regular'), local('Lato-Regular'),
  url("../fonts/lato-regular.woff2") format('woff2'),
  url("../fonts/lato-regular.woff") format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato'), local('Lato Bold'), local('Lato-Bold'),
  url("../fonts/lato-bold.woff2") format('woff2'),
  url("../fonts/lato-bold.woff") format('woff');
}
